@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif+Caption&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Rubik+Distressed&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

#nav {
    background-color: #001F3F;
    height: 90px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    padding: 20px;
}

#links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

#search_div {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
}

#inp:focus{border:none; outline: none;}

.select {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    max-height: calc(100vh - 230px);
}
  
body {
    background-color: rgb(250, 250, 250);
}
.btn {
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #001F3F;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.item_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-items: end;
    gap: 10px;
    width: 100%;
    margin-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px; padding-top: 10px;
}

.item_container::-webkit-scrollbar {
    display: none;
}

.item_container > div {
    border: none;
    background-color: white;
    height: 160px;
    width: 100%;
}

.item_form {
    display: none;
}

.item_form_show {
    position: fixed;
    top: 90px;
    right: 0;
    height: calc(100vh - 90px);
    overflow: auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    border: none;
    text-align: center;
    background-color: white;
}

.item_form_show > label {
    font-weight: 500;
}

.item_form_show > div {
    width: 90%;
    margin: 20px auto 20px auto;
    text-align: left;
}

.item_form_show > #pic {
    text-align: center;
}

.item_form_show > #pic2 {
    text-align: center;
}

#links > span {
    cursor: pointer;
}

#profile {
    cursor: pointer;
}

#logout {
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: rgb(46, 46, 46);
    border: 1px solid whitesmoke;
    color: white;
    z-index: 4;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    border: 1;
    grid-template-columns: repeat(1, 1fr); /* Three equal columns */
    gap: 2px;
    padding: 5px 10px;
}


.item_form_show > div > input {
    font-size: 14px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

.item_form_show > div > select {
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    font-weight: 100;
}


.item_form_show > h3 {
    margin: 20px 0px 20px 0px;
}

.item_form_show > button {
    border: none;
}
.confirm_btn {
    width: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}
.cancel_btn {
    background-color: none;
    text-align: center;
    text-align: center;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.685);
    font-weight: 100;
}
#cancel_cont {
    text-align: center;
    margin-top: auto;
}

#cc {
    text-align: center;
}

#pic > div > img {
    max-width: calc(100%);
    max-height: 148px;
    visibility: hidden;
}


#pic > div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 60%;
    margin: auto;
}

#pic2 > div > img {
    max-width: calc(100%);
    max-height: 148px;
    visibility: hidden;
}

#pic2 > div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 60%;
    margin: auto;
}

.item {
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 100%;
    border: rgba(0, 0, 0, 0.267), 1px solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    font-size: 14px;
    cursor: pointer;
}

.item:hover {
    
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
}

.item:hover .item_content {
    filter: blur(1px); 
}
.item_content {
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.item_content > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2px;
    width: 100%;
    min-height: 75%;
    max-height: 75%;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
}

.item_content > p {
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 2px;
}

.item_content > p {
    padding-left: 4px;
    text-align: left;
}

#name_p {
    display: inline-block; 
    margin-top: 8px;
    text-transform: capitalize;
    text-align: left;
    margin-right: 0px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
}
#stock_p {
    float: right;
    font-size: smaller;
    margin-top: 24px;
    
    font-weight: light;
    font-size: 9px;
    right: 1px;
    
    
}
#id_p {
    display: inline-block; 
    margin-top: -4px;
    text-align: left;
    margin-left: -2px;
    font-size: 10px;
    font-weight: 300;
    vertical-align: middle;
}
#type_p {
    font-size: smaller;
    font-weight: lighter;
    margin-top: -4px;
    display: none;
}
#price_p {
    margin-bottom: 4px;
    font-size: larger;
    font-weight: 450;
    font-size: 11px;
    margin-left: 6px;
}

#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    filter: none;
    z-index: 1;
    width: 100%;
}

#buttons > button {
    padding: 10px 15px;
    margin: 2px;
    background-color:#005ab9    ;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 600px;
}

.show {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 350px;
    z-index: 2;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    height: fit-content;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
}

.show > #warn_btn {
    margin-top: 15px;
    width: 100%;
}

#yes_btn {
    background-color: #005ab9;
    width: 49%;
}

#no_btn {
    width: 49%;
}

#price_sort {
    cursor: pointer;
}

#stock_sort {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.type {
    width: 100%;
    font-size: 14px;
    height: 30px;
    border-width: 1px;
    cursor: pointer;
    padding: 5px;
}

@media screen and (max-width: 1400px) {
    .item_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    .item_form_show {
        z-index: 3;
    }
}

@media screen and (max-width: 1100px) {
    .item_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    .item_form_show {
        z-index: 3;
    }
}

@media screen and (max-width: 600px) {
    .sort {
        display: none;
    }

    .container {
        width: 100%;
    }

    .item_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    #links:nth-child(2) {
        display: none;
    }

    .item_form_show {
        z-index: 3;
    }

    #delete_btn {
        width: 50px;
    }
    
    #delete_form {
        width: 300px;
        position: absolute;
        top: 40%;
        left: 15%;
    }
}


